body {
  margin: 0;
  padding: 0;
}

main {
  max-width: 1400px;
  margin: 0;
  padding: 0;
}

header {
  background: url(../picture/header_picture.png);
background-size: cover;
  max-width: 100%;
  background-repeat: no-repeat;
}

.header_wrapper {
    max-width: 1700px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

}

nav{
    margin: 4%;
    
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-size: 20px;
}

nav li {
  list-style: none;
  display: inline;
}

nav a {
  text-decoration: none;
  
  padding: .5em 1.5em;
}

.logo_bellona {
  width: 25%;
  margin-top: 3%;
}

.active{
    font-weight: bolder;
}



footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p{
    color: whitesmoke;
    font-weight: bold;
   
}

h4{
    color: whitesmoke;
    font-size: 25px;
}

.telefon{
    font-size: 25px;
}

.green_color{
    color: #478E53;
}