








.grid-1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  text-align: center;
  align-items: center;
  margin-top: 7%;
  margin-bottom: 7%;
  margin-left: 20px;
  margin-right: 20px;
  
}

.grid-2_1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2em;
  text-align: left;
  align-items: start;
  margin-left: 20px;
  margin-right: 20px;
}

.grid-3_1 {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2em;
  align-items: center;
  margin-top: 7%;
  margin-bottom: 7%;
  margin-left: 20px;
  margin-right: 20px;
  
  
}

.grid-1_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  margin-top: 7%;
  margin-bottom: 7%;
  text-align: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.grid-1_1_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2em;
  text-align: center;
  align-items: center;
  margin-top: 7%;
  margin-bottom: 7%;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 100%;
}

.grid-1_2_1 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 2em;
  margin-top: 7%;
  margin-bottom: 7%;
  margin-left: 20px;
  margin-right: 20px;
}


