/* Font */
/* https://fontsgeek.com/fonts/Hoefler-Text-Regular */
/* https://www.pagecloud.com/blog/how-to-add-custom-fonts-to-any-website */
/* Font slut*/

body {
  margin: 0;
  padding: 0;
  font-family: "Hoefler Text";
}

.max-width_omos {
  max-width: 1500px;
  margin: 5% auto;
  margin-bottom: 7%;
  padding: 0;
}



 /* 1. Få elementerne til at stå ved siden af hinanden og brug justify-content til at skubbe dem væk fra hinanden */
 header{
 display: flex;
 flex-flow: wrap;
 padding: 7px 10px 7px 10px;
 justify-content: space-between;
 background: linear-gradient(to right, #008c45, #ffffff, #cd212a);
 align-items: center;
 gap: 20px 40px;
}

.logo{
  width: 200px;
}

.main-menu ul {
 list-style: none;
 padding: 0;
 margin-right: 15px;


 /* 2. Få elementerne til at stå ved siden af hinanden */
 display: flex;
 gap: 1rem;
}

ul a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 21px;
}

/* burgermenu */
.toggle-btn {
 background: transparent;
 border: none;
 min-width: 44px;
 min-height: 44px;
 font-size: 1.1rem;
 cursor: pointer;
 display: none;
 color: #FFFFFF;
}



@media (max-width: 1200px) {
  .toggle-btn {
    display: block;
  }
 
  .main-menu.shown {
    display: contents;
  }
 
  .main-menu ul {
    display: none;
  }
 
  .main-menu.shown ul {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex-flow: column;
    flex-basis: 100%;
  }
 
  footer,
  .grid-2_1,
  .grid-1_1_1_1{
    grid: none;
    padding: 0;
    margin: auto;
    text-align: center;
   
  }
 
  .grid-1_1_1_1 img{
    max-width: 60%;
  }
 
  .grid-1_1{
    padding: 0;
    text-align: center;
    
  }
  .google_maps {
    padding: 10px;
    margin-right: 7% auto;
  }
 
  .grid-2_1{
    text-align: center;
  }
 
 
 
  .container_img_omos1 img{
    max-width: 65%;
   border-radius: 10px;
  }
 
  .omos_tekst{
    font-size: 20px;
  max-width: 90%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
    /* text-align: center;
    justify-content: center; */
  }
 
 
  .container_img_omos1 img{
    width: 80%;
   border-radius: 10px;
  }
 
 
 
 }
 





@media (max-width: 600px) {
 .toggle-btn {
   display: block;
 }

 .main-menu.shown {
   display: contents;
 }

 .main-menu ul {
   display: none;
 }

 .main-menu.shown ul {
   border-top: 1px solid #000;
   padding-top: 1rem;
   display: flex;
   flex-flow: column;
   flex-basis: 100%;
 }

 .logo{
  width: 150px;
 }

 footer,
 .grid-2_1,
 .grid-1_1_1_1{
   grid: none;
   padding: 0;
   margin: auto;
   text-align: center;
  
 }

 .grid-1_1_1_1 img{
   max-width: 60%;
 }

 .grid-1_1{
   padding: 0;
   text-align: center;
   
 }
 .google_maps {
   padding: 10px;
   margin-right: 7% auto;
 }

 .grid-2_1{
   text-align: center;
 }



 .container_img_omos1 img{
   max-width: 70%;
  border-radius: 10px;
 }

 .omos_tekst{
   font-size: 20px;
 max-width: 90%;
 height: 100%;
 padding: 0;
 margin: 0 auto;
   /* text-align: center;
   justify-content: center; */
 }


 .container_img_omos1 img{
   width: 80%;
  border-radius: 10px;
 }



}







time {
  color: whitesmoke;
  font-weight: bold;
}


/* active button in navigation */
.active {
  font-weight: bolder;
}


/* footer timer */
time {
  color: whitesmoke;
  font-weight: bold;
}

h1{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0px 20px 0px 20px;
  font-size: 50px;
}

h2{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 35px;
}

h4 {
  color: whitesmoke;
  font-size: 25px;
}

.telefon {
  font-size: 25px;
}

.green_color {
  color: #478e53;
}


.omos_tekst{
  font-size: 20px;
  max-width: 60ch;
  height: 100%;
}



.container_img_omos1 img{
  width: 800px;
 border-radius: 10px;
}

.grid-1_1_1_1 img{
  width: 775px;
  max-width: 100%;
  border-radius: 10px;
}

iframe{
  max-width: 100%;
}

.omos_button{
  background-color: black;
  color: #FFFFFF;
  font-size: 18px;
  border-radius: 7px;
  padding: 1.5% 12% 1.5% 11.5%;
  cursor: pointer;
}

.omos_button:hover{
  background-color: rgb(53, 53, 53);
  color: #FFFFFF;
  font-weight: bold;
  font-size: 17px;
  border-radius: 7px;
  padding: 1.5% 12% 1.5% 11.5%;
  cursor: pointer;
}


.transparent_img_omos{
  width: 500px;
  margin-bottom: 0;
  
}

.transparent_pizza_img_omos{
  width: 400px;
  justify-content: center;
  align-items: center;
}



footer p {
  color: whitesmoke;
  font-weight: bold;
  
}



